<h3>New event details</h3>
<%= form_for @event do |f| %>

<div>
 <%=  f.label :name %>
 <%=  f.text_field :name %>
</div>

<div>
  <%= f.label :min_age %>
  <%= f.text_field :min_age %>
</div>

<div>
  <%= f.label :held_at %>
  <%= f.date_field :held_at %>
</div>

  <div><h3>Guests</h3>
    <ul id="guest-list">
    <% 5.times do |n| %>
     <li> <input data-input-id="<%= n %>" class="guest" type="text" name="person[][email]"> 
      <span class="guest-check" data-span-id="<%= n %>"></span> </li>
    <% end %>
    </ul>
  </div>

<%= submit_tag %>
<% end %>