<!DOCTYPE html>
<html>
<head>
  <title>RailsUnderground</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="flash_notice"><%= flash[:notice] %></div>
<div id="flash_warn" class="error_feedback"><%= flash[:warn] %></div>

<%= yield %>

</body>
</html>
